@import "../../scss/vars";

.typeahead-container {
  padding: 5px;
  border: 1px solid $gray-dark;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 0px 1px 6px 0px rgba(189, 190, 191, 0.25);
  z-index: 100;
  background-color: white;

  &.results {
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  color: black;
  ul {
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    max-height: 209px;
    font-family: CHOpenSans;
    font-weight: $font-weight-normal;
    color: $gray-text;
    padding-left: 18px;
    padding-right: 18px;
    list-style-type: none;
    margin-top: 7px;
    margin-bottom: 7px;
    li.initial {
      margin-left: -15px;
      font-size: 14px;
      color: $gray-text-light;
      &:hover {
        background-color: white;
      }
    }
    li{
      font-size: 13px;
      height: 30px;
      padding: 5px;
      vertical-align: center;
      cursor: default;
    }
    li.selected {
      background-color: $bar-bg;
    }
  }
}
