@import "../../scss/vars";

.words-card {

  &.ei-card {
    .card-block.card-content {
      .title-wrap {
        margin-bottom: 0.3rem;
      }
    }
  }

  .section-content.words {
    z-index: 1;
    position: relative;

    .words-wrap {
      display: flex;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      @media (min-width:  440px) and (max-width: $md-breakpoint + 1px) {
        max-width: none;
      }
      flex-direction: column;
      flex-wrap: wrap;
      height: inherit;
      position: relative;
      padding-left: 4%;
      //padding: 0 7%;
      /*
      &:before {
        content: ' ';
        position: absolute;
        width: 1px;
        top: 0.5rem;
        bottom: 0.5rem;
        left: 33.3%;
        border-left: 1px solid $gray-divider-light;
        z-index: 10;
      }
      &:after {
        content: ' ';
        position: absolute;
        width: 1px;
        top: 0.5rem;
        bottom: 0.5rem;
        left: 66.6%;
        border-left: 1px solid $gray-divider-light;
        z-index: 10;
      }*/
    }
  }

  .word-item {
    width: 43%;
    @media (min-width: 440px) and (max-width: $md-breakpoint + 1px) {
      width: 33.33%;
    }
    font-size: 0.75rem;
    padding: 0 0.1rem 0.75rem 0;
    line-height: 1.85rem;
    height : 1.85rem;
    position: relative;
    z-index : 1;

    .percent {
      width: 25%;
      display: inline-block;
      text-align: left;
      float: left;
      color: $gray-header;
      font-weight: $font-weight-normal;
    }

    .word {
      color: $gray-header;
      display: inline-block;
      font-weight: $font-weight-normal;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      left: 0px;
      text-align: left;
      word-wrap: break-word;
      word-break: break-all;
      white-space: nowrap;
      max-width: 65%;
      padding-left: 10%;
      float: left;
      @media (min-width:$sm-breakpoint) {
        max-width: 70%;
        padding-left: 5%;
      }
    }

    &.highlight {
      .percent {
        font-weight: $semi-bolded;
      }
      .word {
        font-weight: $semi-bolded;
        color: $gray-header;
      }
    }
  }
}
