@import "../../../scss/vars";

.query-error {
  h4.header {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: $gray-text;
    .query {
      font-weight: $semi-bolded;
      color: $gray-header;
    }
  }
  h5 {
    svg {
      width: 34px;
      margin-right: 10px;
      fill: #e43e3b;  
    }
    color: $red-light;
    font-weight: $semi-bolded;
    font-size: 1rem;
  }
}
