$line-height : 1.63rem;
$text-label-col-width : 9.375rem;
$main-content-col-width : 14.4375rem;
$net-sentiment-col-width : 9.7625rem;
$sentiment-breakdown-col-width : 11.5875rem;

$col-head-height : 2.4rem;
$col-head-height2 : 5.2rem;
$section-head-height : 0.1rem;
