@import "../../scss/vars";

.ei-card.interests-card {
  .card-content {
    padding-bottom: 1.3rem;
    .title-wrap {
      margin-bottom: 0.3rem;
      h4 {
        display: inline-block;
      }
      .sub {
        margin-left: 10px;
        color: #999;
      }
    }
    .section-content {
      position: relative;
      .interests-graph {
        position: relative;
        //margin-right: 2rem;
      }
    }
  }
}
