$line-height : 1.5rem;
$text-label-col-width : 12.6rem;
$text-label-col-width-sm : 8.475rem;
$influencer-score-col-width : 14.1375rem;
$influencer-score-col-width-sm : 10.375rem;
$influencer-breakdown-col-width : 15.4375rem;
$profile-col-width : 16.4375rem;
$col-head-height : 5.2rem;
$section-head-height : 0.1rem;

$profile-row-height : 49px;
$profile-lines-to-show: 2;
$profile-line-height: 1.5;
$profile-font-size: 12px;
$profile-bottom-margin: 13px;
$sticky-column-bottom: 18px;

$handle-bottom-margin: 1.9px;

// images
$image-size: 40px;
$image-size-sm: 34px;
